@import './blocks/_header'
@import './base/_variables'

*
  padding: 0
  margin: 0
  box-sizing: border-box

html
  font-size: 18px
  font-family: 'Montserrat', sans-serif
ul

li
  list-style: none
a
  text-decoration: none

.content-container
  max-width: 1280px
  margin: 0 auto
