.main
  display: flex
  align-items: center
  flex-direction: column
  min-height: 1375px
  .content-container
    .sorting
      width: 100%
      font-weight: bold
      margin-bottom: 38px
      position: relative
      .selection
        padding: 5px 10px
        font-size: 1rem
        font-family: 'Montserrat', sans-serif
        cursor: pointer
        border: none
        outline: none
    .cats-cards
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      margin-bottom: 30px
      .card
        height: 521px
        width: 32%
        margin-bottom: 20px
        &__img
          background-position: center
          background-size: cover
          background-repeat: no-repeat
          height: 264px
          position: relative
          .add
            position: absolute
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            top: 0
            padding: 34px 32px 0 38px
            &__sale
              height: 39px
              width: 78px
              display: flex
              justify-content: center
              align-items: center
              background-color: $red
              border-radius: 10px
              color: #fff
              font-size: .8rem
            .disabled
              visibility: hidden
            &__favorite
              background: url('../assets/icons/heart.svg') center center/contain no-repeat
              display: block
              width: 46px
              height: 46px
              cursor: pointer
              opacity: 0.5
            &__favorite.saved
              opacity: 0.8
        &__info
          height: 190px
          background-color: $grey
          padding: 29px 33px 29px 29px
          display: flex
          flex-direction: column
          justify-content: space-between
          align-items: self-start
        &__info-title
          font-size: 1.3rem
          font-weight: bold
        &__info-descr
          display: flex
          flex-direction: row
          width: 100%
          font-size: 0.7rem
          .color
            margin-left: 1.2rem

          &::before
            content: ''
            display: block
            width: 4px
            height: 26px
            background-color: $blue
        &__info-price
          font-size: 1.3rem
          font-weight: bold
        .buy-btn
          width: 100%
          height: 65px
          background-color: $blue
          font-weight: bold
          font-size: 16px
          border-bottom-left-radius: 10px
          border-bottom-right-radius: 10px
        .sold
          background-color: $dark

  .show-more
    border: 1px solid #E5E5E5
    width: 30em
    height: 5em
    border-radius: 10px
    font-family: 'Montserrat', sans-serif
    font-size: 0.7rem
    cursor: pointer
    margin-bottom: 50px

@media (max-width: 1279px)
  .main
    min-height: 600px
    overflow: hidden
    .content-container

      .cats-cards
        margin-bottom: 30px
        .card
          height: 17em
          &__img
            height: 8em
            .add
              padding: 15px 13px 0 14px
              &__sale
                height: 2em
                width: 3em
                border-radius: 5px
              &__favorite
                width: 2em
                height: 2em
          &__info
            height: 6em
            padding: 15px 10px
          &__info-title
            font-size: 0.9rem
          &__info-descr
            align-items: center
            font-size: 0.4rem
          &__info-price
            font-size: 0.8rem
          .buy-btn
            height: 2.5em
            border-radius: 0px
    .show-more
      width: 16em
      height: 4em
      margin-bottom: 2em
@media (max-width: 639px)
  .main
    .content-container
      .sorting
        width: 80%
        font-size: 0.9rem
        margin-bottom: 30px
        .selection
          width: 100%
          font-size: 0.9rem
      .cats-cards
        .card
          width: 49%
          margin-bottom: 0px
          &__info-descr
            font-size: 0.3rem
            .color
              margin-left: 0.3rem
    .show-more
      width: 11em
      border-radius: 5px
